@using Suzaku.Chat.Helpers
@using Suzaku.Chat.Models
@using Suzaku.Chat.Services
@inject Microsoft.Extensions.Options.IOptions<UserConfiguration> UserConfig

@if (!IsMine)
{
	if (!IsGrouped)
	{
		<div class="d-flex justify-content-between">
			<p class="small mb-1 fw-bold"><a class="text-black text-decoration-none" href="/chat/@Element.Sender.ToLower()">@Element.Sender.FirstCharToUpper()</a></p>
			@if (DateTime.Now.Date == Element.Timestamp.ToLocalTime().Date)
			{
				<p class="small mb-1 text-muted">@Element.Timestamp.ToLocalTime().ToString("t")</p>
			}
			else
			{
				<p class="small mb-1 text-muted">@Element.Timestamp.ToLocalTime().ToString("dd MMM") @Element.Timestamp.ToLocalTime().ToString("t")</p>
			}
		</div>
	}
	<div class="d-flex flex-row justify-content-start" style="@(IsGrouped ? "margin-top: -0.80rem; margin-left: 55px" : "")">
		@if (!IsGrouped)
		{
			<img src="@($"/avatars/{Element.Sender.ToLower()}.png")" alt="" style="width: 55px; height: 100%;" class="rounded-circle">
		}
		<div>
			<div class="small ms-3 p-2 pt-0 pb-0 mb-3 rounded-3 chat-message" style="background-color: #f5f6f7">
				@if (Element.Content!.Length < 5 && IsEmoji(Element.Content[0]))
				{
					<p class="fs-1">@Element.Content</p>
				}
				else
				{
					<MarkdownSection Content="@Element.Content"></MarkdownSection>
				}
			</div>
		</div>
	</div>
}
else
{
	@if (!IsGrouped)
	{
		<div class="d-flex justify-content-between">
			@if (DateTime.Now.Date == Element.Timestamp.ToLocalTime().Date)
			{
				<p class="small mb-1 text-muted">@Element.Timestamp.ToLocalTime().ToString("t")</p>
			}
			else
			{
				<p class="small mb-1 text-muted">@Element.Timestamp.ToLocalTime().ToString("dd MMM") @Element.Timestamp.ToLocalTime().ToString("t")</p>
			}
			<p class="small mb-1 fw-bold">@UserConfig.Value.Name</p>
		</div>
	}
	<div class="d-flex flex-row justify-content-end pt-1" style="@(IsGrouped ? "margin-top: -1.2rem; margin-right: 55px" : "")">
		<div>
			<div class="small p-2 pt-0 pb-0 me-3 text-white rounded-3 bg-warning">
				@if (Element.Content!.Length < 5 && IsEmoji(Element.Content[0]))
				{
					<p class="fs-1">@Element.Content</p>
				}
				else
				{
					<MarkdownSection Content="@Element.Content"></MarkdownSection>
				}
			</div>
		</div>
		@if (!IsGrouped)
		{
			<img src="@UserConfig.Value.Avatar" class="rounded-circle"
				 alt="" style="width: 55px; height: 100%;">
		}
	</div>
}

@code {
	/// <summary>
	/// The element to be shown
	/// </summary>
	[Parameter] public required Message Element { get; set; }

	/// <summary>
	/// Should it be displayed as user's or bot's message
	/// </summary>
	[Parameter] public bool IsMine { get; set; }

	/// <summary>
	/// Should it be displayed in a grouped form
	/// </summary>
	[Parameter] public bool IsGrouped { get; set; }

	private bool IsEmoji(char character)
	{
		var category = Char.GetUnicodeCategory(character);
		return category == System.Globalization.UnicodeCategory.OtherSymbol || category == System.Globalization.UnicodeCategory.Surrogate;
	}
}
